a {
  color: #00B7FF;
}

  /* Whatever hahahahah i hate css */
.text-muted {
  color: #fff;
  text-align: left;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and stupid button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* could fix this maybe.. just moving btn */

#steambtn {
	margin-top: 80px;
	margin-right: 100px;
	margin-left: 270px;
	font-size: 18px;
	padding: 10px 10px 10px;
	text-align: center;
}

#carousel {
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Supporting marketing grid content and what not */
/* this is useless but i'll leave it for now in case */

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier... */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  
}
